{% extends 'base.html.twig' %}
{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Fiche de contact{% endblock %}

{% block body %}
    <h1>Fiche de contact</h1>
    {% for successMessage in app.flashes('success') %}

        <p class="alert alert-success">{{ successMessage }}</p>

    {% endfor %}
    {% if not contactForm.vars.valid %}
        {% for errorMessage in app.flashes('error') %}

            <p class="alert alert-danger">{{ errorMessage }}</p>

        {% endfor %}
    {% endif %}
    {{ form(contactForm) }}
{% endblock %}
